  * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            text-align: center;
        }
        html,
        body {
            background-color: black;
        }
        body {
            width: 100%;
            height: 100%;
        }
        div {
            /* margin-top: 100px; */
            width: 483px;
            height: 497px;
            margin: 200px auto;
            background-image: url(./电子木鱼.png);
        }
        h1 {
            color: white;
            display: block;
            width: 650px;
            height: 50px;
            margin: 30 auto;
        }
        p {
            display: block;
        }
        .n4 {
            color: transparent;
            font-size:30px;
            position: absolute;
            top: 300px;
            left: 49%;
            animation: yan 1s linear
        }
        #audio_id {
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 0;
        }
        #audio_id1 {
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 60px;
        }
        .btn {
            position: absolute;
            left: 0px;
            top: 120px;
            width: 80px;
            height: 25px;
        }
        @keyframes run {//缩放的动画效果
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }
        @keyframes yan {//淡入淡出效果
            0% {
                color: transparent;
            }
            100% {
                color: white;
                transform: translate(0px, -100px)
            }
        }
